<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjnCJWQWXPxjg1Arvp6-KdLGRailIy6Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>646970404458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amr.symstax</string>
	<key>PROJECT_ID</key>
	<string>tast-symstax</string>
	<key>STORAGE_BUCKET</key>
	<string>tast-symstax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646970404458:ios:1565408c48b76d0c2ba413</string>
</dict>
</plist>